Router#show run
Building configuration...

Current configuration:
!
version 12.0
service timestamps debug uptime
service timestamps log uptime
no service password-encryption
!
hostname Router
!
!
!
!
!
!
memory-size iomem 12
ip subnet-zero
!
!
!
!
interface FastEthernet0/0
 no ip address
 no ip directed-broadcast
 duplex auto
 speed auto
!
interface FastEthernet0/0.4
 encapsulation dot1Q 4
 ip address 10.116.25.81 255.255.255.240
 no ip directed-broadcast
!
interface FastEthernet0/0.5
 encapsulation dot1Q 5
 ip address 10.116.18.1 255.255.254.0
 no ip directed-broadcast
!
interface FastEthernet0/0.6
 encapsulation dot1Q 6
 ip address 10.116.20.1 255.255.254.0
 no ip directed-broadcast
!
interface FastEthernet0/0.7
 encapsulation dot1Q 7
 ip address 10.116.24.65 255.255.255.192
 no ip directed-broadcast
!
interface FastEthernet0/0.8
 encapsulation dot1Q 8
 ip address 10.116.24.129 255.255.255.192
 no ip directed-broadcast
!
interface FastEthernet0/0.9
 encapsulation dot1Q 9
 ip address 10.116.25.1 255.255.255.192
 no ip directed-broadcast
!
interface FastEthernet0/0.10
 encapsulation dot1Q 10
 ip address 10.116.24.193 255.255.255.192
 no ip directed-broadcast
!
interface FastEthernet0/0.11
 encapsulation dot1Q 11
 ip address 10.116.26.9 255.255.255.248
 no ip directed-broadcast
!
interface FastEthernet0/0.12
 encapsulation dot1Q 12
 ip address 10.116.26.17 255.255.255.248
 no ip directed-broadcast
!
interface Serial0/0
 no ip address
 no ip directed-broadcast
 no ip mroute-cache
 shutdown
!
router rip
 version 2
 network 10.0.0.0
!
ip classless
ip route 0.0.0.0 0.0.0.0 10.116.25.83
no ip http server
!
!
line con 0
 transport input none
line aux 0
line vty 0 4
 login
!
no scheduler allocate
end

Router#





# Pool ESO (VLAN 5)
ip dhcp pool ESO
 network 10.116.18.0 255.255.254.0
 default-router 10.116.18.1
 dns-server 8.8.8.8 8.8.4.4
 lease 7
 exit

# Pool CFGS (VLAN 6)
ip dhcp pool CFGS
 network 10.116.20.0 255.255.254.0
 default-router 10.116.20.1
 dns-server 8.8.8.8 8.8.4.4
 lease 7
 exit

# Pool Masters (VLAN 7)
ip dhcp pool MASTERS
 network 10.116.24.64 255.255.255.192
 default-router 10.116.24.65
 dns-server 8.8.8.8 8.8.4.4
 lease 7
 exit

# Pool CFGM (VLAN 8)
ip dhcp pool CFGM
 network 10.116.24.128 255.255.255.192
 default-router 10.116.24.129
 dns-server 8.8.8.8 8.8.4.4
 lease 7
 exit

# Pool BACHI (VLAN 9)
ip dhcp pool BACHI
 network 10.116.25.0 255.255.255.192
 default-router 10.116.25.1
 dns-server 8.8.8.8 8.8.4.4
 lease 7
 exit

# Pool PROFES (VLAN 10)
ip dhcp pool PROFES
 network 10.116.24.192 255.255.255.192
 default-router 10.116.24.193
 dns-server 8.8.8.8 8.8.4.4
 lease 7
 exit

# Pool ADMIN (VLAN 11)
ip dhcp pool ADMIN
 network 10.116.26.8 255.255.255.248
 default-router 10.116.26.9
 dns-server 8.8.8.8 8.8.4.4
 lease 7
 exit

# Pool TECNICOS (VLAN 12)
ip dhcp pool TECNICOS
 network 10.116.26.16 255.255.255.248
 default-router 10.116.26.17
 dns-server 8.8.8.8 8.8.4.4
 lease 7
 exit





 