#Dado que el switch en gns3 no guarda la configuración la pongo aqui


enable
configure terminal

# Crear VLANs
vlan 4
 name Servidores
vlan 5
 name ESO
vlan 6
 name CFGS
vlan 7
 name Masters
vlan 8
 name CFGM
vlan 9
 name bachi
vlan 10
 name profes
vlan 11
 name administracion
vlan 12
 name tecnicos
vlan 13
 name invitados
exit


# Puerto R1
interface GigabitEthernet0/0
 switchport trunk encapsulation dot1q
 switchport trunk allowed vlan 4-12
 switchport mode trunk
 no shutdown
 exit

# Puerto R2
interface GigabitEthernet0/1
 switchport trunk encapsulation dot1q
 switchport trunk allowed vlan 4,10-13
 switchport mode trunk
 no shutdown
 exit

# Puerto R3
interface GigabitEthernet0/2
 switchport mode access
 switchport access vlan 4
 no shutdown
 exit

end
write memory